In [19]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [20]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [21]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [22]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
June_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6)

In [23]:
#  3. Convert the June temperatures to a list.
June_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [24]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(June_temps, columns=['date', 'temperature'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()

In [25]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [26]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
December_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12)

In [27]:
# 7. Convert the December temperatures to a list.
December_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [28]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(December_temps, columns=['date', 'temperature'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()

In [29]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## Additional Queries: Determine the Precipitation Statistics for June

In [33]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of June. 
June_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==6)

In [34]:
# Convert the June precipitation to a list.
June_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==6).all()

In [35]:
# Create a DataFrame from the list of precipitation for the month of June. 
df = pd.DataFrame(June_precip, columns=['date', 'precipitation'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()

In [36]:
# Calculate and print out the summary statistics for the June precipitation DataFrame.
df.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

## Additional Queries: Determine the Precipitation Statistics for December

In [37]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of December.
December_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==12)

In [38]:
# Convert the December precipitation to a list.
December_precip = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==12).all()

In [41]:
# Create a DataFrame from the list of precipitation for the month of December. 
df = pd.DataFrame(December_precip, columns=['date', 'precipitation'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()

In [42]:
# Calculate and print out the summary statistics for the December precipitation DataFrame.
df.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000